# Core libraries
huggingface_hub
datasets
pandas
matplotlib
seaborn

# PyTorch ecosystem
torch
torchvision
accelerate

# Transformers & evaluation
transformers

# Utilities
tqdm
python-dotenv

# Additional models/tools
timm
#renumics-spotlight>=0.7.0,<0.8.0
cleanlab
cleanvision

evaluate
wandb
datasets
# Fixed-version requirement
scikit-learn

# Paquete opcional con problemas de compilación, instalar solo si tienes wheel disponible:
# annoy
#pip install --upgrade pip setuptools wheel
#pip install annoy